*{
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

h1 {
    text-align: end;
    color: grey;
    background-color: cyan;
    width: 350px;
    padding: 10px;
    font-size: 36px;
}

ul li{

    list-style-type: none;
    display: inline;
    font-size: 24px;
    margin-left: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: cyan;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

a {
    color: cyan;
    text-decoration: none;

}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 0px;
    background: grey;
    align-items: center;
  }

  .backimage {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-color: black;
}

.info{
    display: flex;
    flex-wrap: wrap;
    background-color: red;
}

#subtitle{
    display:block;
    position: absolute;
    top: 400px;
    right: 100px;
    padding: 10px;
    font-size: 36px;
    color: grey;
    background-color: cyan;
}

.info h2 {

}