/* This sets the default fonts on the page and also default text colors */
*{
    font-family: Georgia, serif;
    color: var(--lblu)
}

/* Allows the page to visually scroll when elements are selected rather than teleport */
html{
    scroll-behavior: smooth;
}

/* setting text-decoration to none for all a elements on page as none want to have underline
any a elements that do want it can override this change in that specific class */
a {
    text-decoration: none;
}

/* This defines our reused elements, in this case our colors, so that we can just call apon
the values here and if we need to change any colors it will affect all elements
with the defined var. */
:root {
    --cyblu: #00ffff;
    --backgrey: #4b4b4b;
    --lblu: #83e0ff;
    --backpage: #1b0f20;
}

.profile-image {
    position: absolute;
    top: 86px;
    left: 0px;
    height: 300px;
    width: 300px;
    background-image: url("../images/profile.jpg");
}

/* These classes affect the elements on the top of the page in the nav bar */
.main-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 0px;
    background: var(--backgrey);
    align-items: center;
}

.main-header h1 {
    text-align: end;
    color: var(--backgrey);
    background-color: var(--lblu);
    width: 350px;
    padding: 10px;
    font-size: 36px;
}

.main-header ul {
    padding-right: 30px;
}


.main-header ul li{
    list-style-type: none;
    display: inline;
    font-size: 24px;
    margin-left: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: var(--lblu);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.main-header a {
    color: var(--lblu);
}

/* This class sets the banner image on the page */
.backimage {
    height: 300px;
    width: 100%;
    background-image: url("../images/profileback.jpg");
    background-size: cover;
    background-position: center;
}

/* This is the parent flex container to contain both the sidebar elements 
and the main body of content/texts */
.maincontainer{
    display: flex;
    background-color: var(--backpage);
}

/* This id is for the box of text placed on the banner image */
#subtitle{
    display:block;
    position: absolute;
    top: 300px;
    right: 100px;
    padding: 10px;
    font-size: 36px;
    color: grey;
    background-color: var(--lblu);
}

/* This class is used to space out and define how big we want the sidebar element to be */
.parent {
    display: flex;
    height:fit-content;
    width: 35%;
}

/* This class is used for the sidebar elements */
.subhead {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 250px;
    font-size: 50px;
    color: var(--lblu);
}

/* This is the container to have multiple flexboxes but have them flow as a column
This makes it so we can have spaces between the paragraphs */
.vertcon {
    display: flex;
    flex-direction: column;
    width: 70%;
}

/* Defines the classes of the paragraphs */
.p1, .p2 {
    flex: 1;
    width: 100%;
    padding: 5px 100px 5px 30px;
}

/* This class was made to make space and align the flexbox to the middle.
Also another thing that could be improved on but wasnt entirely sure */
.spacer {
    flex: 3;
    width: 100%;
}

/* These classes define the values used in the footer/bottom of the page */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex: 1;
}

.footer ul li {
    list-style-type: none;
}

.footer a {
    font-size: 24px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: var(--lblu);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

/* this id gives the line running next to the containers but sets all other sides to 0 */
#borderleft {
    border-style: solid;
    border-color: var(--lblu);
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}

/* This class was just made to make space, I am sure there are ways to improve this
or make it work without it but I could not find the solution this time */
.gapcon {
    display: flex;
    line-height: 175px;
    color: var(--backpage);
    background-color: var(--backpage);
}

/* This class defines the container that is set up as a grid layout */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 80px;
    /* row-gap: 56px;
    column-gap: 24px; */
    /* grid-template-columns: repeat(2, 1fr); */
}

/* These classes set up the project boxes with the sizing, colours and the animation effect */
.project-box {
    flex-wrap: wrap;
    border: 2px solid var(--backgrey);
    padding: 150px 10px 10px 10px;
    transition: all 0.5s ease-in-out;
    margin: 0px 50px;
    margin-bottom: 50px;
    min-width: 30%;
    max-width: 50%;
    flex: 1 0 400px;
    justify-content: space-evenly;
}

.project-box-top {
    border: 2px solid var(--backgrey);
    padding: 330px 10px 10px 10px;
    transition: all 0.5s ease-in-out;
    margin: 0px 50px;
}

.project-box-top h2 {
    font-size: 32px;
    margin: 24px 608px -1% -1%;
    border: solid var(--cyblu);
    padding: 8px;
    position: relative;
    background-color: var(--backgrey);
    transition: all 0.5s ease-in-out;
}

.project-box h2 {
    font-size: 32px;
    margin: 24px 400px -2.5% -3%;
    border: solid var(--cyblu);
    padding: 8px;
    position: relative;
    background-color: var(--backgrey);
    transition: all 0.5s ease-in-out;
}

/* This gives us the glow color effect when hovering over the project elements */
.project-box:hover, .project-box:hover h2, .project-box-top:hover, .project-box-top:hover h2 {
    box-shadow: 0 0 8px var(--cyblu),
    0 0 15px var(--cyblu);
    cursor: pointer;
}

/* This changes the highlight color to match our page colors and give a bit more flair */
::selection {
    background: var(--cyblu);
    color: white;
}

/* These ids house the background images for the project boxes
they also have a black background in case images cannot be loaded. */
#project1 {
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;
}

#project2 {
    background-image: url("../images/project2.png");
    background-size: cover;
    background-position: center;
    background-color: black;
}

#project3 {
    background-image: url("../images/project3.png");
    background-size: cover;
    background-position: center;
    background-color: black;
}

#project4 {
    background-image: url("../images/project4.png");
    background-size: cover;
    background-position: center;
    background-color: black;
}

#project5 {
    background-image: url("../images/project5.png");
    background-size: cover;
    background-position: center;
    background-color: black;
}

/* Here are the media quieries that change the page layout depending on the screen size. */
/* Laptop */
@media screen and (max-width: 1440px) {
    .project-box {
        max-width: 40%;
        margin: 0px 10px;
        margin-bottom: 50px;
    }

    .project-box h2 {
        margin: 24px 100px -2.5% -2.5%;
    }
}

/* For in between Desktop and Tablet */
@media screen and (max-width: 836px) {
    .main-header ul li{
        font-size: 18px;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .project-box {
        max-width: 70%;
        margin: 0px 10px;
        margin-bottom: 50px;
    }

    .project-box h2, .project-box-top h2 {
        margin: 24px 100px -2.5% -2.5%;
    }

    .main-header ul li{
        font-size: 16px;
    }
}

/* Mobile Large*/
@media screen and (max-width: 718px) {
    .project-box h2 {
        margin: 24px 0px -2.5% -2.5%;
        font-size: 16px;
    }

    .project-box-top h2 {
        font-size: 16px;
        margin: 24px 0px -2.5% -2.5%;
    }

    .project-box-top {
        margin: 10px 10px;
    }

    .profile-image {
        top: 139px;
        left: 0px;
    }

    #subtitle{
        top: 97px;
        right: 220px;
        left: 0px;
        padding: 11px;
        font-size: 20px;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .footer a {
        font-size: 18px;
    }

    .subhead {
        font-size: 21px;
    }

    .main-header ul {
        padding: 0px;
    }
    .main-header ul li{
        list-style-type: none;
        display: block;
        font-size: 19px;
        margin-left: 5px;
        padding-bottom: 5px;
    }
}

/* For inbetween Large and Medium Mobile */
@media screen and (max-width: 476px) {
    .project-box h2 {
        margin: 24px 0px -2.5% -2.5%;
        font-size: 16px;
    }

    .project-box-top h2 {
        font-size: 16px;
        margin: 24px 0px -2.5% -2.5%;
    }

    .project-box-top {
        margin: 10px 10px;
    }

    .profile-image {
        top: 157px;
        left: 0px;
    }

    #subtitle{
        top: 107px;
        right: 220px;
        left: 0px;
        padding: 10px;
        font-size: 20px;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .footer a {
        font-size: 18px;
    }

    .subhead {
        font-size: 21px;
    }

    .main-header ul {
        padding: 0px;
    }
    .main-header ul li{
        list-style-type: none;
        display: block;
        font-size: 19px;
        margin-left: 5px;
        padding-bottom: 5px;
    }
}

/* Mobile M */
@media screen and (max-width: 421px) {
    .profile-image {
        top: 177px;
        left: 0px;
    }

    #subtitle{
        top: 134px;
        right: 180px;
        left: 0px;
        padding: 12px;
        font-size: 20px;
    }
}

/* Mobile S */
@media screen and (min-width: 320px) and (max-width: 374px) {
    #subtitle{
        top: 133px;
        right: 125px;
        left: 0px;
        padding: 12px;
        font-size: 20px;
    }

    .footer a {
        font-size: 14px;
    }
}